<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About</title>
     <link rel="icon" type="image/png" href="https://files.slack.com/files-pri/T6J5V8VA4-F6PNSM5HP/lost__1_.png"sizes="16x16">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src = "css/style2.cs"></script>
  </head>
  <body>
    <header class="masthead" style="background: url(../img/bg-pattern.png), linear-gradient(to left,#CCA9C2, #F2D999);">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <h1 style="color:white">This is the About page</h1>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="xxxxxxxxxxxx">
                
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="section-heading">
      <h3 id="Creators">Meet the Creators!</h3>
      <h4>Ashley</h4>
      <h4>Faith</h4>
      <h4>Abby</h4>
      <div class="button">
      <!-- You can hook the "home button" to some JavaScript events or just remove it -->
      </div>
    </div>





  </body>
</html>