<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get Lost</title>
    <link rel="icon" type="image/png" href="https://files.slack.com/files-pri/T6J5V8VA4-F6Q7VQPBN/screen_shot_2017-08-18_at_4.18.59_am.png"sizes="16x16">
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/stylesheet"
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">
    
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body id="page-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" href="#page-top">Get Lost</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#Attractions">Attractions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <header class="masthead" style="background: url(../img/bg-pattern.png), linear-gradient(to left,#F2D95D, #343996);">
      <div class="container h-100">
        <div class="row h-100">
          
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto text-center">
              <center><h1 class="mb-5">GET LOST makes sure the journey is just as enjoyable as the destination.</h1></center>
              <a href="#find attractions" class= "btn btn-default">Get Lost on the Way</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="xxxxxxxxxxxx">
                <div class="text-center">
                  <div class="screen">
                  <img src="/img/getlostlogo2.png" class="img-fixed" style="width:500px;height:auto;" alt="getlostlogo">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section style="color:#345596; background: #F2D95D !important;" class="download bg-primary text-center" id="download">
      <div >
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading" id="find attractions">Find Attractions on Your Road Trip!</h2>
            
            <form method= "POST" action="/cities">
              <h3 style="color:#345596 "> Where are you coming from?</h3>
                   <select name= "cities">
                  <option value=" "></option> 
                  <option value="Colombus, OH to Detroit, MI">Colombus, OH to Detroit, MI</option> 
                  <option value="Indianapolis, IN to Detroit, MI">Indianapolis, IN to Detroit, MI</option>
                  <option value="Chicago, IL to Detroit, MI">Chicago, IL to Detroit, MI</option>
                </select>
        
                  <h3 style="color:#345596 "> What activities are you interested in?</h3>
                   <select name= "interest">
                  <option value=" "></option> 
                  <option value="Food">Food</option> 
                  <option value="Gas Station">Gas Station</option>
                  <option value="Scenic
                  ">Scenic</option>
                  <option value="Indoor Activities">Indoor Activities</option>
                  <option value="Outdoor Activities">Outdoor Activites</option>
                  <option value="Hotel">Hotel</option>
                </select>
                
                <h3 style="color:#345596 "> How lost are you willing to get?</h3>
                   <select name= "radius">
                  <option value=" "></option> 
                  <option value="5000">Less than 5,000 meters</option> 
                  <option value="10000">Less than 10,000 meters</option>
                  <option value="20000">Less than 20,000 meters</option>
                </select>
                <br>
                 <input type = "submit" class = "btn btn-default">
             </form>
        
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Things to help you Get Lost</h2>
          <p class="text-muted"></p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="">
              <div class="">
                <div class="">
                  <div class="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="">
              <div class="row">
                <div class="">
                  <div class="">
                    <i class=""></i>
                    <h1></h1>
                    <p class=""></p>
                  </div>
                </div>
                <div style="text_align:align;">
                  <div>
                    <i class=""></i>
                    <h1 class = "titlemusic" style="color: #343996">3 Tips to Make your Road Trip more Green!</h1>
                    <br>
                    <div class = "music">
                    <p style="color: #343996">Have enough air in your tires to increase gas mileage. That way less gas will be used, reducing your carbon footprint.
                    </p>
                    <p style="color: #343996">Try and eat less packaged foods to keep the amount of trash you make to a minimum. Try restaurants with fresh produce in the towns you pass by. This will be much healthier and you'll be supporting local businesses.
                    </p>
                    <p style="color: #343996">
                      Consider not putting your kayak, bike, or other equipment on the top of your car. It drags your car down and wastes energy. Try and take only what you need for your trip.
                    </p>
                    </div>
                    <h1 style="color: #343996">Here's a Playlist for the Journey
                    </h1>
                    
            <iframe src="https://open.spotify.com/embed/user/falong313/playlist/6XFZufys6HcHfZuoqNjUGF" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
              
                  </div>
                  <div>
                    <img src="roadtrip.jpg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class=""></i>
                    <h3></h3>
                    <p class="text-muted"></p>
                  </div>
                </div>
                <div class="">
                  <div class="">
                    <i class=""></i>
                    <h3></h3>
                    <p class="text-muted"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta" id="about" style="background: url(http://www.leonlogothetis.com/wp-content/uploads/2015/08/1773565.jpg);">
      <div class="cta-content">
        <div class="container">
          <div class="row">
            <div>
            <h2>Meet the<br>Creators!</h2>
            <a href="#contact" class="btn btn-outline btn-xl">Kode with Klossy</a>
            <h3>                                                
            
            </h3>
          </div class="creators">
            
            <div class="row">
            <div class="col col1">
              <h3>Abby</h3>
              <p>Abby is a collector of squeegees, and is very proud of them. She once invited hit Canadian rap star Drake over to see her collection. He said they were "very unique" and "unlike any squeegee collection" he ever saw before. She uses Get Lost to find squeegee retailers on her road trips.</p>
            </div>
            <div class="col col1">
              <h3>Ashley</h3>
              <p>Ashley wants to grow and be a muffin baker. She also would like to go skydiving one day with Shakira, while singing the classic "Hips Don't Lie". Ashley uses Get Lost to find skydiving places on her road trips to invite Shakira to.</p>
            </div>
            <div class="col col1">
              <h3>Faith</h3>
              <p>Faith wants to be queen of the world, but only secretly so she isn't constantly mobbed by fans. Faith is really positive and has six frogs named after web developers. Faith loves road trips, but gets car sick, so she uses Get Lost to find bathrooms for her to throw up in.</p>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section style="color:#345596; background: #F2D95D !important;"class="contact bg-primary" id="contact">
      <div class="container">
        <h2>
           <i class=""></i> 
           Made by the KWK Detroit Girls!</h2>
        <ul class="list-inline list-social">
          <li class="fa fa-twitter">
            <a href="https://twitter.com/kodewithklossy?lang=en">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="fa fa-facebook">
            <a href="https://www.facebook.com/kodewithklossy?lang=en">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="fa fa-instagram">
            <a href="https://www.instagram.com/kodewithklossy?lang=en">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        <!/ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; Ashley.Faith.Abby.kwk All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Get Lost</a>
          </li>
    
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>